<div class="container jumbotron">
<table class="table-striped">
  <thead>
    <tr>
      <th>Language</th>
      <th>Dialect</th>
    </tr>
  </thead>

  <tbody>
    <% @my_languages.each do |language| %>
      <tr>
        <td>language.dialect.language.language_name</td><td><%= language.dialect_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>