<div class="container jumbotron">
<table class="table-bordered table-dark table-striped">
  <thead>
    <tr>
      <th>Language</th>
      <th>Dialect</th>
    </tr>
  </thead>

  <tbody>
    <% @my_dialects.each do |my_dialect| %>
      <tr>
        <td><%= my_dialect.dialect.language.language_name %></td>
        <td><%= my_dialect.dialect.dialect_name %></td>
        <td><%= link_to 'Delete', my_dialect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add a language', new_interpreter_language_path %>
</div>