<div class="container jumbotron">
<div class="notice-board">
<p class="error-message"><%= flash[:error] %></p>
<p class="notice-message"><%= flash[:notice] %></p>
</div>

<h1>Welcome QONNEX</h1>
</div>