    <ul class="topnav">
        <li>
            <a class="navbar-brand nav-logo" href="#">QONNEX</a>  
        </li>
        <% if interpreter_signed_in? %>
        <li class="right">
            <%= link_to "logout", destroy_interpreter_session_path, method: :delete %>
        </li>
        <% elsif client_signed_in? %>
        <li class="right">
            <%= link_to "logout", destroy_client_session_path, method: :delete %>
        </li>
        <% else %>
        <li class="right">
            <%= link_to "Client login", new_client_session_path,  class: "active"%>
        </li>
        <li class="right">
            <%= link_to "Interpreter login", new_interpreter_session_path,  class: "active"%>
        </li>
        <% end %>
    </ul>
 